<form #pageForm="ngForm">
    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign=" start" class="gene-form-wizard">
        <mat-card fxFlex="100%">
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>Page Name</mat-label>
                            <input matInput placeholder="Page Name" name="pageName"
                                   [(ngModel)]="page.pageName" required
                                   #pageName="ngModel">
                            <div *ngIf="pageName.errors && (pageName.dirty || pageName.touched)">
                                <small class="gene-block"
                                       *ngIf="pageName.errors.required && pageName.touched"
                                       class="mat-text-warn">
                                    You must include a page name.
                                </small>
                            </div>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>Module</mat-label>
                            <mat-select placeholder="Module" name="moduleId"
                                        [(ngModel)]="page.moduleId" #moduleId="ngModel"
                                        required>
                                <mat-option *ngFor="let module of moduleList"
                                            [value]="module.moduleId">
                                    {{module.moduleName}}
                                </mat-option>
                            </mat-select>
                            <div *ngIf="moduleId.errors && (moduleId.dirty || moduleId.touched)">
                                <small class="gene-block" *ngIf="moduleId.errors.required && moduleId.touched"
                                       class="mat-text-warn">
                                    You must select a module.
                                </small>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>Url Pattern</mat-label>
                            <input matInput placeholder="Url Pattern" name="urlPattern"
                                   [(ngModel)]="page.urlPattern" required
                                   #urlPattern="ngModel">
                            <div *ngIf="urlPattern.errors && (urlPattern.dirty || urlPattern.touched)">
                                <small class="gene-block"
                                       *ngIf="urlPattern.errors.required && urlPattern.touched"
                                       class="mat-text-warn">
                                    You must include a url pattern.
                                </small>
                            </div>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>Order Index</mat-label>
                            <input matInput placeholder="Order Index" name="orderIndex"
                                   [(ngModel)]="page.orderIndex" required
                                   #orderIndex="ngModel">
                            <div *ngIf="orderIndex.errors && (orderIndex.dirty || orderIndex.touched)">
                                <small class="gene-block"
                                       *ngIf="orderIndex.errors.required && orderIndex.touched"
                                       class="mat-text-warn">
                                    You must include a order index.
                                </small>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>Mat Icon</mat-label>
                            <input matInput placeholder="Mat Icon" name="icon"
                                   [(ngModel)]="page.icon" required
                                   #icon="ngModel">
                            <div *ngIf="icon.errors && (icon.dirty || icon.touched)">
                                <small class="gene-block"
                                       *ngIf="icon.errors.required && icon.touched"
                                       class="mat-text-warn">
                                    You must include a icon.
                                </small>
                            </div>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput placeholder="Description" name="description"
                                      [(ngModel)]="page.description" #description="ngModel">
                        </textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select placeholder="Status" name="status"
                                        [(ngModel)]="page.status" #status="ngModel"
                                        required>
                                <mat-option *ngFor="let status of statusList"
                                            [value]="status.statusSeq">
                                    {{status.status}}
                                </mat-option>
                            </mat-select>
                            <div *ngIf="status.errors && (status.dirty || status.touched)">
                                <small class="gene-block" *ngIf="status.errors.required && status.touched"
                                       class="mat-text-warn">
                                    You must select a status.
                                </small>
                            </div>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <div class="mat-card-devHdr" style="font-size: medium; font-weight: bold">Authority</div>
                        <mat-card-content>
                            <mat-card fxFlex="50%">
                                <authority-display [authorityList]="defaultAuthorityList" [actionType]="actionType"
                                                   [pageId]="page.pageId"></authority-display>
                            </mat-card>
                        </mat-card-content>
                    </div>
                </div>
            </mat-card-content>
            <app-audit *ngIf="page.pageId" [createdBy]="page.createdBy"
                       [createdDate]="page.createdDate"
                       [lastModifiedBy]="page.lastModifiedBy" [lastModifiedDate]="page.lastModifiedDate">
            </app-audit>
        </mat-card>
    </div>
    <div class="pad-wrap">
        <mat-card-actions>
            <button *ngIf="!isUpdate" (click)="createPage()" [disabled]="!pageForm.valid"
                    mat-raised-button
                    color="primary" type="submit">Save
            </button>
            <button *ngIf="isNew"
                    (click)="resetForm(); page.pageId=null; isUpdate=false; isNew=false;"
                    [disabled]="!pageForm.valid" mat-raised-button color="green" type="submit">New
            </button>
            <button *ngIf="isUpdate" (click)="updatePage()" [disabled]="!pageForm.valid"
                    mat-raised-button color="accent" type="submit">Update
            </button>
            <button *ngIf="isUpdate" (click)="deletePage()"
                    [disabled]="!rolePermission.filterPermission('ROLE_config@page_DELETE')" mat-raised-button
                    color="warn" type="submit">
                Delete
            </button>
            <button *ngIf="isUpdate && !isNew" class="dialog-cancel-button" (click)="onCancel.emit()" mat-raised-button>
                Cancel
            </button>

        </mat-card-actions>
    </div>
</form>