<app-navbar></app-navbar>

<section class="relative w-full bg-white dark:bg-gray-900">
  <div
    class="
      block-container
      bg-white
      dark:bg-gray-900
      bg-top bg-cover
      -mt-0
      -mr-0
      -mb-0
      -ml-0
      pt-0
      pr-0
      pb-0
      pl-0
    "
  >
    <div
      class="
        sm:max-w-xl
        md:max-w-full md:px-24
        lg:px-8 lg:py-20
        w-full
        bg-top bg-cover
        mt-0
        mr-auto
        mb-0
        ml-auto
        pt-16
        pr-4
        pb-16
        pl-4
      "
    >
      <div
        class="
          max-w-xl
          md:mx-auto
          sm:text-center
          lg:max-w-2xl
          md:mb-12
          bg-top bg-cover
          mt-0
          mr-auto
          mb-10
          ml-auto
          pt-0
          pr-0
          pb-0
          pl-0
        "
      >
        <div class="bg-top bg-cover mt-0 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-0">
          <p
            class="
              inline-block
              tracking-wider
              uppercase
              rounded-full
              font-semibold
              text-xs
              mt-0
              mr-0
              mb-4
              ml-0
              pt-px
              pr-3
              pb-px
              pl-3
              bg-pink-500
              text-white
            "
          >
            Dream Team
          </p>
        </div>
        <div
          class="
            max-w-lg
            font-sans
            tracking-tight
            sm:text-4xl
            md:mx-auto
            text-gray-900
            bg-top bg-cover
            mt-0
            mr-auto
            mb-6
            ml-auto
            pt-0
            pr-0
            pb-0
            pl-0
          "
        >
          <div
            class="
              relative
              inline-block
              bg-top bg-cover
              mt-0
              mr-0
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
            "
          >
            <p
              class="
                relative
                inline
                max-w-lg
                font-sans
                tracking-tight
                sm:text-4xl
                md:mx-auto
                font-bold
                text-3xl
                leading-none
                mt-0
                mr-0
                mb-0
                ml-0
                pt-0
                pr-0
                pb-0
                pl-0
                text-gray-900
                dark:text-gray-200
              "
            >
              Welcome
            </p>
          </div>
          <p
            class="inline text-2xl mt-0 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-0"
          ></p>
          <p
            class="
              inline
              max-w-lg
              font-sans
              tracking-tight
              sm:text-4xl
              md:mx-auto
              font-bold
              text-3xl
              leading-none
              mt-0
              mr-0
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
              text-gray-900
              dark:text-gray-200
            "
          >
            our talented team of professionals
          </p>
        </div>
        <p
          class="
            md:text-lg
            text-base
            mt-0
            mr-0
            mb-0
            ml-0
            pt-0
            pr-0
            pb-0
            pl-0
            text-gray-700
            dark:text-gray-400
          "
        >
          Each member played a valuable role to make GuideLK a reality.
        </p>
      </div>
      <div
        class="
          gap-10
          row-gap-8
          sm:row-gap-10
          lg:max-w-screen-lg
          sm:grid-cols-2
          lg:grid-cols-3
          grid
          bg-top bg-cover
          mt-0
          mr-auto
          mb-0
          ml-auto
          pt-0
          pr-0
          pb-0
          pl-0
        "
      >
        <div
          class="flex bg-top bg-cover mt-0 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-0"
        >
          <img
            src="/assets/images/sachithra.jpeg"
            class="
              h-20
              w-20
              rounded-full
              object-cover
              mt-0
              mr-4
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
              shadow
            "
          />
          <div
            class="
              flex
              bg-top bg-cover
              flex-col
              justify-center
              mt-0
              mr-0
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
            "
          >
            <p
              class="
                font-bold
                text-lg
                mt-0
                mr-0
                mb-0
                ml-0
                pt-0
                pr-0
                pb-0
                pl-0
                dark:text-gray-200
              "
            >
              Sachithra
            </p>
            <p
              class="
                text-sm
                mt-0
                mr-0
                mb-4
                ml-0
                pt-0
                pr-0
                pb-0
                pl-0
                text-gray-800
                dark:text-gray-400
              "
            >
              Technical Lead
            </p>
          </div>
        </div>
        <div
          class="flex bg-top bg-cover mt-0 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-0"
        >
          <img
            src="/assets/images/hadhi.jpeg"
            class="
              h-20
              w-20
              rounded-full
              object-cover
              mt-0
              mr-4
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
              shadow
            "
          />
          <div
            class="
              flex
              bg-top bg-cover
              flex-col
              justify-center
              mt-0
              mr-0
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
            "
          >
            <p
              class="
                font-bold
                text-lg
                mt-0
                mr-0
                mb-0
                ml-0
                pt-0
                pr-0
                pb-0
                pl-0
                dark:text-gray-200
              "
            >
              Abdul Hadhi
            </p>
            <p
              class="
                text-sm
                mt-0
                mr-0
                mb-4
                ml-0
                pt-0
                pr-0
                pb-0
                pl-0
                text-gray-800
                dark:text-gray-400
              "
            >
              Frontend Developer
            </p>
          </div>
        </div>
        <div
          class="flex bg-top bg-cover mt-0 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-0"
        >
          <img
            src="/assets/images/manoj.jpg"
            class="
              h-20
              w-20
              rounded-full
              object-cover
              mt-0
              mr-4
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
              shadow
            "
          />
          <div
            class="
              flex
              bg-top bg-cover
              flex-col
              justify-center
              mt-0
              mr-0
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
            "
          >
            <p
              class="
                font-bold
                text-lg
                mt-0
                mr-0
                mb-0
                ml-0
                pt-0
                pr-0
                pb-0
                pl-0
                dark:text-gray-200
              "
            >
              Manoj
            </p>
            <p
              class="
                text-sm
                mt-0
                mr-0
                mb-4
                ml-0
                pt-0
                pr-0
                pb-0
                pl-0
                text-gray-800
                dark:text-gray-400
              "
            >
              Frontend Developer
            </p>
          </div>
        </div>
        <div
          class="flex bg-top bg-cover mt-0 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-0"
        >
          <img
            src="/assets/images/saranga.jpg"
            class="
              h-20
              w-20
              rounded-full
              object-cover
              mt-0
              mr-4
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
              shadow
            "
          />
          <div
            class="
              flex
              bg-top bg-cover
              flex-col
              justify-center
              mt-0
              mr-0
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
            "
          >
            <p
              class="
                font-bold
                text-lg
                mt-0
                mr-0
                mb-0
                ml-0
                pt-0
                pr-0
                pb-0
                pl-0
                dark:text-gray-200
              "
            >
              Saranga
            </p>
            <p
              class="
                text-sm
                mt-0
                mr-0
                mb-4
                ml-0
                pt-0
                pr-0
                pb-0
                pl-0
                text-gray-800
                dark:text-gray-400
              "
            >
              Business Analyst
            </p>
          </div>
        </div>
        <div
          class="flex bg-top bg-cover mt-0 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-0"
        >
          <img
            src="/assets/images/raviraj.jpeg"
            class="
              h-20
              w-20
              rounded-full
              object-cover
              mt-0
              mr-4
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
              shadow
            "
          />
          <div
            class="
              flex
              bg-top bg-cover
              flex-col
              justify-center
              mt-0
              mr-0
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
            "
          >
            <p
              class="
                font-bold
                text-lg
                mt-0
                mr-0
                mb-0
                ml-0
                pt-0
                pr-0
                pb-0
                pl-0
                dark:text-gray-200
              "
            >
              Raviraj
            </p>
            <p
              class="
                text-sm
                mt-0
                mr-0
                mb-4
                ml-0
                pt-0
                pr-0
                pb-0
                pl-0
                text-gray-800
                dark:text-gray-400
              "
            >
              QA
            </p>
          </div>
        </div>
        <div
          class="flex bg-top bg-cover mt-0 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-0"
        >
          <img
            src="/assets/images/kobiga.png"
            class="
              h-20
              w-20
              rounded-full
              object-cover
              mt-0
              mr-4
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
              shadow
            "
          />
          <div
            class="
              flex
              bg-top bg-cover
              flex-col
              justify-center
              mt-0
              mr-0
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
            "
          >
            <p
              class="
                font-bold
                text-lg
                mt-0
                mr-0
                mb-0
                ml-0
                pt-0
                pr-0
                pb-0
                pl-0
                dark:text-gray-200
              "
            >
              Kobiga
            </p>
            <p
              class="
                text-sm
                mt-0
                mr-0
                mb-4
                ml-0
                pt-0
                pr-0
                pb-0
                pl-0
                text-gray-800
                dark:text-gray-400
              "
            >
              Project Management
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
