<mat-card fxFlex="100%">
    <form #countrySearchForm="ngForm">
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Country Name</mat-label>
                        <input matInput placeholder="Country Name" name="countryName"
                               [(ngModel)]="countryVo.countryName" #countryName="ngModel">
                    </mat-form-field>
                </div>
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Country Code</mat-label>
                        <input matInput placeholder="Country Code" name="countryCode"
                               [(ngModel)]="countryVo.countryCode" #countryCode="ngModel">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select placeholder="Status" name="status" [(ngModel)]="countryVo.status"
                                    #status="ngModel">
                            <mat-option *ngFor="let status of statusList" [value]="status.statusSeq">
                                {{status.status}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="pad-wrap">
                <mat-card-actions>
                    <button (click)="searchCountry()" mat-raised-button color="accent" type="submit">Search
                    </button>
                    <button (click)="countrySearchForm.resetForm()" mat-raised-button color="warn" type="submit">
                        Reset
                    </button>
                </mat-card-actions>
            </div>
        </div>
        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="example-container mat-elevation-z8" style="overflow: auto;">
            <table mat-table [dataSource]="countryInfoTableDataSource" matSort style="width: 100%">
                <ng-container matColumnDef="CountryName">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Country Name
                    </th>
                    <td mat-cell *matCellDef="let element" style="font-size: small; font-weight:bold;">
                        {{element.countryName}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="CountryCode">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Country Code
                    </th>
                    <td mat-cell *matCellDef="let element" style="font-size: small; font-weight:bold;">
                        {{element.countryCode}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="CreatedBy">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Created By
                    </th>
                    <td mat-cell *matCellDef="let element"
                        style="font-size: small; font-weight:bold;"> {{element.createdBy}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="CreatedDate">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Created Date
                    </th>
                    <td mat-cell *matCellDef="let element"
                        style="font-size: small; font-weight:bold;"> {{element.createdDate |  date:'MM/dd/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="LastModifiedBy">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Modified By
                    </th>
                    <td mat-cell *matCellDef="let element"
                        style="font-size: small; font-weight:bold;"> {{element.lastModifiedBy}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="LastModifiedDate">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Modified Date
                    </th>
                    <td mat-cell *matCellDef="let element"
                        style="font-size: small; font-weight:bold;"> {{element.lastModifiedDate |  date:'MM/dd/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Status
                    </th>
                    <td mat-cell *matCellDef="let element"
                        [ngClass]="{'status-open' : element.status == 1, 'status-approved' : element.status == 2, 'status-closed' : element.status == 3, 'status-deleted' : element.status == 0}"
                        style="font-size: medium; padding: 10px"> {{element.statusDescription}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef
                        style="font-size: small; font-weight:bold;">
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="openDialog(element)">
                            <mat-icon color="primary">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[25]"></mat-paginator>
        </div>
    </form>
</mat-card>