<!-- component -->
<!-- <div class="w-full bg-gray-50 text-black">
  <div class="xl:px-40 pb-12 lg:px-20 md:px-10 sm:px-5 px-10">
    <div class="w-full pt-12 flex flex-col sm:flex-row space-y-2 justify-start">
      <div class="w-full sm:w-4/5 pr-6 flex flex-col space-y-20">
        <h1 class="mb-3 font-bold text-4xl">GuideLK</h1>

        <p class="opacity-60 hidden sm:visible sm:flex">
          © Copyright 2021 GuideLK. All rights reserved.
        </p>
      </div>
      <div class="w-full sm:w-2/5 flex flex-col space-y-2">
        <p class="font-bold">Links</p>
        <a class="opacity-60">Login</a>
        <a class="opacity-60">Team</a>
        <a class="opacity-60">Github</a>
        <a class="opacity-60">Documentation</a>
      </div>
    </div>
    <p class="opacity-60 mt-10 visible sm:hidden">
      © Copyright 2021 GuideLK. All rights reserved.
    </p>
  </div>
</div> -->

<div
  class="
    block-container
    bg-white
    dark:bg-gray-900
    bg-top bg-cover
    -mt-0
    -mr-0
    -mb-0
    -ml-0
    pt-0
    pr-0
    pb-0
    pl-0
  "
>
  <div class="w-full bg-top bg-cover mt-0 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-0">
    <div
      class="
        sm:max-w-xl
        md:max-w-full
        lg:max-w-screen-xl
        md:px-24
        lg:px-8
        bg-top bg-cover
        mt-0
        mr-auto
        mb-0
        ml-auto
        pt-16
        pr-4
        pb-0
        pl-4
      "
    >
      <div
        class="
          grid
          gap-10
          row-gap-6
          sm:grid-cols-2
          lg:grid-cols-4
          bg-top bg-cover
          mt-0
          mr-0
          mb-8
          ml-0
          pt-0
          pr-0
          pb-0
          pl-0
          component-selected
        "
      >
        <div
          class="
            sm:col-span-3
            bg-top bg-cover
            mt-0
            mr-0
            mb-0
            ml-0
            pt-0
            pr-0
            pb-0
            pl-0
          "
        >
          <p
            class="
              w-full
              tracking-wide
              inline-flex
              font-bold
              text-xl
              mt-0
              mr-0
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
              text-gray-800
              dark:text-gray-200
            "
          >
            GuideLK
          </p>
          <div class="bg-top bg-cover mt-6 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-0">
            <p
              class="
                text-sm
                mt-0
                mr-0
                mb-0
                ml-0
                pt-0
                pr-0
                pb-0
                pl-0
                text-gray-800
                dark:text-gray-400
              "
            >
              GuideLk is best choice for making your next trip spontaneous and
              luxurious for affordable prices.
            </p>
          </div>
        </div>
        <div class="bg-top bg-cover mt-0 mr-0 mb-0 ml-7 pt-0 pr-0 pb-0 pl-0">
          <p
            class="
              tracking-wide
              font-bold
              text-base
              mt-0
              mr-0
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
              text-gray-900
              dark:text-gray-200
            "
          >
            Links
          </p>
          <p
            class="
              text-sm
              mt-4
              mr-0
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
              text-gray-500
              dark:text-gray-400
            "
          >
            <a [routerLink]="['/login']">Login</a>
          </p>
          <p
            class="
              text-sm
              mt-4
              mr-0
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
              text-gray-500
              dark:text-gray-400
            "
          >
            <a [routerLink]="['/team']">Team</a>
          </p>
          <p
            class="
              text-sm
              mt-4
              mr-0
              mb-0
              ml-0
              pt-0
              pr-0
              pb-0
              pl-0
              text-gray-500
              dark:text-gray-400
            "
          >
            <a href="https://github.com/SSD-AE2-Team-D" target="_blank"
              >Github</a
            >
          </p>
        </div>
      </div>
      <div
        class="
          border-t-2
          dark:border-gray-500
          lg:flex-row
          flex
          bg-top bg-cover
          flex-col-reverse
          justify-between
          mt-0
          mr-0
          mb-0
          ml-0
          pt-5
          pr-0
          pb-10
          pl-0
        "
      >
        <p
          class="
            text-sm
            mt-0
            mr-0
            mb-0
            ml-0
            pt-0
            pr-0
            pb-0
            pl-0
            text-gray-600
            dark:text-gray-400
          "
        >
          © Copyright 2020 GuideLK. All rights reserved.
        </p>
        <div
          class="
            space-y-2
            lg:mb-0
            sm:space-y-0 sm:space-x-5 sm:flex-row
            flex
            bg-top bg-cover
            flex-col
            items-center
            mt-0
            mr-0
            mb-3
            ml-0
            pt-0
            pr-0
            pb-0
            pl-0
          "
        ></div>
      </div>
    </div>
  </div>
</div>
