<form #roleForm="ngForm">
    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign=" start" class="gene-form-wizard">
        <mat-card fxFlex="100%">
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>Role Name</mat-label>
                            <input matInput placeholder="Role Name" name="roleName"
                                   [(ngModel)]="role.roleName" required
                                   #roleName="ngModel" [disabled]="isDisabled">
                            <div *ngIf="roleName.errors && (roleName.dirty || roleName.touched)">
                                <small class="gene-block"
                                       *ngIf="roleName.errors.required && roleName.touched"
                                       class="mat-text-warn">
                                    You must include a role name.
                                </small>
                            </div>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput placeholder="Description" name="roleDescription"
                                      [(ngModel)]="role.roleDescription" #roleDescription="ngModel">
                        </textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select placeholder="Status" name="status"
                                        [(ngModel)]="role.status" #status="ngModel"
                                        required>
                                <mat-option *ngFor="let status of statusList"
                                            [value]="status.statusSeq">
                                    {{status.status}}
                                </mat-option>
                            </mat-select>
                            <div *ngIf="status.errors && (status.dirty || status.touched)">
                                <small class="gene-block" *ngIf="status.errors.required && status.touched"
                                       class="mat-text-warn">
                                    You must select a status.
                                </small>
                            </div>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                        <div class="mat-card-devHdr" style="font-size: medium; font-weight: bold">Page</div>
                        <mat-card-content>
                            <mat-card fxFlex="75%">
                                <page-display [pageList]="pageList" [actionType]="actionType"
                                              [roleId]="role.roleId"></page-display>
                            </mat-card>
                        </mat-card-content>
                    </div>
                </div>
            </mat-card-content>
            <app-audit *ngIf="role.roleId" [createdBy]="role.createdBy"
                       [createdDate]="role.createdDate"
                       [lastModifiedBy]="role.lastModifiedBy" [lastModifiedDate]="role.lastModifiedDate">
            </app-audit>
        </mat-card>
    </div>
    <div class="pad-wrap">
        <mat-card-actions>
            <button *ngIf="!isUpdate" (click)="createRole()" [disabled]="!roleForm.valid"
                    mat-raised-button
                    color="primary" type="submit">Save
            </button>
            <button *ngIf="isNew"
                    (click)="resetForm(); role.roleId=null; isUpdate=false; isNew=false;"
                    [disabled]="!roleForm.valid" mat-raised-button color="green" type="submit">New
            </button>
            <button *ngIf="isUpdate" (click)="updateRole()" [disabled]="!roleForm.valid"
                    mat-raised-button color="accent" type="submit">Update
            </button>
            <button *ngIf="isUpdate" (click)="deletePage()"
                    [disabled]="!rolePermission.filterPermission('ROLE_config@role_DELETE')" mat-raised-button
                    color="warn" type="submit">
                Delete
            </button>
            <button *ngIf="isUpdate && !isNew" class="dialog-cancel-button" (click)="onCancel.emit()" mat-raised-button>
                Cancel
            </button>

        </mat-card-actions>
    </div>
</form>