<mat-card>
    <span style="color: #125699; font-size: large;">Package</span>
    <div class="gene-card-content">
        <mat-tab-group (selectedTabChange)="onTabChange($event)" >
            <mat-tab label="Creation">
                <div class="pad-t-mat pad-b-mat">
                    <app-hotel-package-creation></app-hotel-package-creation>
                </div>
            </mat-tab>
            <mat-tab label="Search">
                <div class="pad-t-mat pad-b-mat">
                    <app-hotel-package-search></app-hotel-package-search>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-card>
