<mat-card fxFlex="100%">
    <form #hotelPackageSearchForm="ngForm">
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Package Name</mat-label>
                        <input matInput placeholder="Package Name" name="packageName"
                               [(ngModel)]="hotelPackageVo.packageName" #packageName="ngModel">
                    </mat-form-field>
                </div>
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Hotel</mat-label>
                        <mat-select placeholder="Hotel" name="hotelId"
                                    [(ngModel)]="hotelPackageVo.hotelId"
                                    (selectionChange)="getRoomTypeList()"
                                    #hotelId="ngModel">
                            <mat-option *ngFor="let hotel of hotelList"
                                        [value]="hotel.hotelId">
                                {{hotel.hotelName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Room Type</mat-label>
                        <mat-select placeholder="Room Type" name="roomTypeId"
                                    [(ngModel)]="hotelPackageVo.roomTypeId"
                                    #roomTypeId="ngModel">
                            <mat-option *ngFor="let roomType of roomTypeList"
                                        [value]="roomType.roomTypeId">
                                {{roomType.roomType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Activity</mat-label>
                        <mat-select placeholder="Room Type" name="activityTypeId"
                                    [(ngModel)]="hotelPackageVo.activityTypeId"
                                    #activityTypeId="ngModel">
                            <mat-option *ngFor="let activity of activityTypeList"
                                        [value]="activity.activityTypeId">
                                {{activity.activityDescription}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput [(ngModel)]="hotelPackageVo.startDate" [matDatepicker]="startDate"
                               name="startDate" #StartDate="ngModel">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput [(ngModel)]="hotelPackageVo.endDate" [matDatepicker]="endDate"
                               #EndDate="ngModel"
                               [min]="hotelPackageVo.endDate" name="endDate">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select placeholder="Status" name="status" [(ngModel)]="hotelPackageVo.status"
                                    #status="ngModel">
                            <mat-option *ngFor="let status of statusList" [value]="status.statusSeq">
                                {{status.status}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="pad-wrap">
                <mat-card-actions>
                    <button (click)="searchHotelPackage()" mat-raised-button color="accent" type="submit">Search
                    </button>
                    <button (click)="hotelPackageSearchForm.resetForm()" mat-raised-button color="warn" type="submit">
                        Reset
                    </button>
                </mat-card-actions>
            </div>
        </div>
        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="example-container mat-elevation-z8" style="overflow: auto;">
            <table mat-table matTableExporter [dataSource]="hotelPackageInfoTableDataSource" matSort style="width: 100%"
                   #exporter="matTableExporter" [hiddenColumns]="[0]">
                <ng-container matColumnDef="Hotel">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Hotel
                    </th>
                    <td mat-cell *matCellDef="let element" style="font-size: small; font-weight:bold;">
                        {{element.hotel.hotelName}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="PackageName">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> PackageName
                    </th>
                    <td mat-cell *matCellDef="let element" style="font-size: small; font-weight:bold;">
                        {{element.packageName}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="RoomType">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Room Type
                    </th>
                    <td mat-cell *matCellDef="let element" style="font-size: small; font-weight:bold;">
                        {{element.roomType.roomType}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="StartDate">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Start Date
                    </th>
                    <td mat-cell *matCellDef="let element" style="font-size: small; font-weight:bold;">
                        {{element.startDate| date:'MM/dd/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="EndDate">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> End Date
                    </th>
                    <td mat-cell *matCellDef="let element" style="font-size: small; font-weight:bold;">
                        {{element.endDate| date:'MM/dd/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="AvailabilityCount">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Availability Count
                    </th>
                    <td mat-cell *matCellDef="let element" style="font-size: small; font-weight:bold;">
                        {{element.availabilityCount}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="Amount">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Amount
                    </th>
                    <td mat-cell *matCellDef="let element" style="font-size: small; font-weight:bold;">
                        {{element.amount}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="CreatedBy">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Created By
                    </th>
                    <td mat-cell *matCellDef="let element"
                        style="font-size: small; font-weight:bold;"> {{element.createdBy}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="CreatedDate">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Created Date
                    </th>
                    <td mat-cell *matCellDef="let element"
                        style="font-size: small; font-weight:bold;"> {{element.createdDate |  date:'MM/dd/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="LastModifiedBy">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Modified By
                    </th>
                    <td mat-cell *matCellDef="let element"
                        style="font-size: small; font-weight:bold;"> {{element.lastModifiedBy}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="LastModifiedDate">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Modified Date
                    </th>
                    <td mat-cell *matCellDef="let element"
                        style="font-size: small; font-weight:bold;"> {{element.lastModifiedDate |  date:'MM/dd/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight:bold;"> Status
                    </th>
                    <td mat-cell *matCellDef="let element"
                        [ngClass]="{'status-open' : element.status == 1, 'status-approved' : element.status == 2, 'status-closed' : element.status == 3, 'status-deleted' : element.status == 0}"
                        style="font-size: medium; padding: 10px"> {{element.statusDescription}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="ViewFeedback">
                    <th mat-header-cell *matHeaderCellDef
                        style="font-size: small; font-weight:bold;">
                        View Feedback
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-warning" mat-raised-button color="primary" type="button"
                                (click)="openFeedbackDialog(element.hotelPackageId)">
                            Feedback
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef
                        style="font-size: small; font-weight:bold;">
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="openDialog(element)">
                            <mat-icon color="primary">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[25]"></mat-paginator>
            <button mat-raised-button
                    (click)="exporter.exportTable('xlsx', {fileName:'hotel', sheet: 'sheet_name', Props: {Author: 'Talha'}})">
                <span style="font-size: medium; font-weight: bold; color: #2eb82e"> Excel</span>
            </button>
            &nbsp;
            <button mat-raised-button
                    (click)="exporter.exportTable('csv', {fileName:'hotel', sheet: 'sheet_name', Props: {Author: 'Talha'}})">
                <span style="font-size: medium; font-weight: bold; color: #009999"> Csv</span>
            </button>
            &nbsp;
            <button mat-raised-button
                    (click)="exporter.exportTable('json', {fileName:'hotel', sheet: 'sheet_name', Props: {Author: 'Talha'}})">
                <span style="font-size: medium; font-weight: bold; color: #ec1313"> Json</span>
            </button>
            &nbsp;
            <button mat-raised-button
                    (click)="exporter.exportTable('txt', {fileName:'hotel', sheet: 'sheet_name', Props: {Author: 'Talha'}})">
                <span style="font-size: medium; font-weight: bold; color: #24292e"> Txt</span>
            </button>
            &nbsp;

        </div>
    </form>
</mat-card>