<mat-card>
    <span style="color: #125699; font-size: large;">Module</span>
    <div class="gene-card-content">
        <mat-tab-group (selectedTabChange)="onTabChange($event)" >
            <mat-tab label="Creation">
                <div class="pad-t-mat pad-b-mat">
                    <app-module-creation></app-module-creation>
                </div>
            </mat-tab>
            <mat-tab label="Search">
                <div class="pad-t-mat pad-b-mat">
                    <app-module-search></app-module-search>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-card>
