<app-navbar></app-navbar>

<div class="relative bg-white dark:bg-gray-900 overflow-hidden">
  <div class="pt-16 pb-80 sm:pt-24 sm:pb-40 lg:pt-40 lg:pb-48">
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 sm:static">
      <div class="sm:max-w-lg">
        <p
          class="
            inline-block
            font-semibold
            text-xs
            tracking-wider
            mb-4
            pt-1
            pr-3
            pb-1
            pl-3
            uppercase
            bg-pink-500
            text-pink-200
            rounded-2xl
          "
        >
          Getaway
        </p>
        <h1
          class="
            text-4xl
            font font-extrabold
            tracking-tight
            text-gray-900
            dark:text-gray-200
            sm:text-6xl
          "
        >
          Your <span class="text-blue-500">journey</span> starts with
          <span class="text-pink-500">us</span>
        </h1>
        <p class="mt-4 text-xl text-gray-500 dark:text-gray-400">
          Booking reservations has never been easier. Manage multiple hotels and
          packages at once. Place reservations based on customer's requirements
          with a click of a button.
        </p>
      </div>
      <div>
        <div class="mt-10">
          <!-- Decorative image grid -->
          <div
            aria-hidden="true"
            class="
              pointer-events-none
              lg:absolute lg:inset-y-0 lg:max-w-7xl lg:mx-auto lg:w-full
            "
          >
            <div
              class="
                absolute
                transform
                sm:left-1/2 sm:top-0 sm:translate-x-8
                lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8
              "
            >
              <div class="flex items-center space-x-6 lg:space-x-8">
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div
                    class="
                      w-44
                      h-64
                      rounded-lg
                      overflow-hidden
                      sm:opacity-0
                      lg:opacity-100
                    "
                  >
                    <img
                      src="https://images.unsplash.com/photo-1500835556837-99ac94a94552?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80"
                      alt=""
                      class="w-full h-full object-center object-cover"
                    />
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img
                      src="https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80"
                      alt=""
                      class="w-full h-full object-center object-cover"
                    />
                  </div>
                </div>
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img
                      src="https://images.unsplash.com/photo-1552733407-5d5c46c3bb3b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=480&q=80"
                      alt=""
                      class="w-full h-full object-center object-cover"
                    />
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img
                      src="https://images.unsplash.com/photo-1504150558240-0b4fd8946624?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=464&q=80"
                      alt=""
                      class="w-full h-full object-center object-cover"
                    />
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img
                      src="https://images.unsplash.com/photo-1507608616759-54f48f0af0ee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80"
                      alt=""
                      class="w-full h-full object-center object-cover"
                    />
                  </div>
                </div>
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img
                      src="https://images.unsplash.com/photo-1523906834658-6e24ef2386f9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=383&q=80"
                      alt=""
                      class="w-full h-full object-center object-cover"
                    />
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img
                      src="https://images.unsplash.com/photo-1516483638261-f4dbaf036963?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=386&q=80"
                      alt=""
                      class="w-full h-full object-center object-cover"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <a
                href="#"
                class="
                  inline-block
                  text-center
                  bg-blue-600
                  border border-transparent
                  rounded-md
                  py-3
                  px-8
                  font-medium
                  text-white
                  hover:bg-blue-700
                "
                >Request a demo</a
              > -->
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="flex flex-wrap bg-white dark:bg-gray-900 items-center pt-20 sm:pt-24"
>
  <div class="w-full md:w-6/12 px-4 mr-auto ml-auto">
    <div class="justify-center flex flex-wrap relative">
      <div class="my-4 w-full lg:w-6/12 px-4">
        <a href="https://tailwindcss.com" target="_blank">
          <div
            class="
              bg-green-300
              shadow-lg
              rounded-lg
              text-center
              p-8
              transform
              transition-all
              duration-300
              scale-100
              hover:scale-95
            "
          >
            <img
              alt="..."
              class="shadow-md rounded-lg max-w-full w-16 mx-auto p-2 bg-white"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg"
            />
            <p class="text-lg text-white mt-4 font-semibold">TailwindCSS</p>
          </div>
        </a>
        <a href="https://material.angular.io" target="_blank">
          <div
            class="
              bg-indigo-800
              shadow-lg
              rounded-lg
              text-center
              p-8
              mt-8
              transform
              transition-all
              duration-300
              scale-100
              hover:scale-95
            "
          >
            <img
              alt="..."
              class="shadow-md rounded-lg max-w-full w-16 mx-auto p-2 bg-white"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/materialui/materialui-original.svg"
            />
            <p class="text-lg text-white mt-4 font-semibold">MaterialUI</p>
          </div>
        </a>
        <a href="https://www.postgresql.org" target="_blank">
          <div
            class="
              bg-blue-500
              shadow-lg
              rounded-lg
              text-center
              p-8
              mt-8
              transform
              transition-all
              duration-300
              scale-100
              hover:scale-95
            "
          >
            <img
              alt="..."
              class="shadow-md rounded-lg max-w-full w-16 mx-auto p-2 bg-white"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg"
            />
            <p class="text-lg text-white mt-4 font-semibold">PostgreSQL</p>
          </div>
        </a>
      </div>
      <div class="my-4 w-full lg:w-6/12 px-4 lg:mt-16">
        <a href="https://www.typescriptlang.org" target="_blank">
          <div
            class="
              bg-blue-700
              shadow-lg
              rounded-lg
              text-center
              p-8
              transform
              transition-all
              duration-300
              scale-100
              hover:scale-95
            "
          >
            <img
              alt="..."
              class="shadow-md rounded-lg max-w-full w-16 mx-auto p-2 bg-white"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg"
            />
            <p class="text-lg text-white mt-4 font-semibold">TypeScript</p>
          </div>
        </a>
        <a href="https://www.angular.io/" target="_blank">
          <div
            class="
              bg-red-700
              shadow-lg
              rounded-lg
              text-center
              p-8
              mt-8
              transform
              transition-all
              duration-300
              scale-100
              hover:scale-95
            "
          >
            <img
              alt="..."
              class="shadow-md rounded-lg max-w-full w-16 mx-auto p-2 bg-white"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
            />
            <p class="text-lg text-white mt-4 font-semibold">Angular</p>
          </div>
        </a>
        <a href="https://www.spring.io/" target="_blank">
          <div
            class="
              bg-green-700
              shadow-lg
              rounded-lg
              text-center
              p-8
              mt-8
              transform
              transition-all
              duration-300
              scale-100
              hover:scale-95
            "
          >
            <img
              alt="..."
              class="
                shadow-md
                rounded-full
                max-w-full
                w-16
                mx-auto
                p-2
                bg-white
              "
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg"
            />
            <p class="text-lg text-white mt-4 font-semibold">Springboot</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div
    class="
      w-full
      md:w-4/12
      px-4
      sm:px-12
      md:px-4
      ml-auto
      mr-auto
      mt-10
      sm:mt-48
    "
  >
    <h3
      class="
        text-3xl
        mb-2
        leading-normal
        font-extrabold
        tracking-tight
        text-gray-900
        dark:text-gray-200
        sm:text-4xl
      "
    >
      Built with:
    </h3>
    <p
      class="
        text-lg
        font-light
        leading-relaxed
        mt-4
        mb-4
        text-gray-500
        dark:text-gray-400
      "
    >
      In order to make GuideLK a reality we put together tech stacks that will
      be beneficial for the next few years. It boasts about it's user interface
      to user experience.
    </p>
    <p
      class="
        text-lg
        font-light
        leading-relaxed
        mt-4
        mb-4
        text-gray-500
        dark:text-gray-400
      "
    >
      We created a set of Components that are dynamic and come to help you, with
      search functionality for each component.
    </p>
    <div class="block pb-6">
      <span
        class="
          text-xs
          font-semibold
          inline-block
          py-1
          px-2
          rounded-full
          text-pink-200
          bg-pink-500
          uppercase
          last:mr-0
          mr-2
          mt-2
        "
      >
        Packages
      </span>
      <span
        class="
          text-xs
          font-semibold
          inline-block
          py-1
          px-2
          rounded-full
          text-pink-200
          bg-pink-500
          uppercase
          last:mr-0
          mr-2
          mt-2
        "
      >
        Hotels
      </span>
      <span
        class="
          text-xs
          font-semibold
          inline-block
          py-1
          px-2
          rounded-full
          text-pink-200
          bg-pink-500
          uppercase
          last:mr-0
          mr-2
          mt-2
        "
      >
        Modules
      </span>
      <span
        class="
          text-xs
          font-semibold
          inline-block
          py-1
          px-2
          rounded-full
          text-pink-200
          bg-pink-500
          uppercase
          last:mr-0
          mr-2
          mt-2
        "
      >
        Organizations
      </span>
      <span
        class="
          text-xs
          font-semibold
          inline-block
          py-1
          px-2
          rounded-full
          text-pink-200
          bg-pink-500
          uppercase
          last:mr-0
          mr-2
          mt-2
        "
      >
        User roles
      </span>
      <span
        class="
          text-xs
          font-semibold
          inline-block
          py-1
          px-2
          rounded-full
          text-pink-200
          bg-pink-500
          uppercase
          last:mr-0
          mr-2
          mt-2
        "
      >
        Country
      </span>
      <span
        class="
          text-xs
          font-semibold
          inline-block
          py-1
          px-2
          rounded-full
          text-pink-200
          bg-pink-500
          uppercase
          last:mr-0
          mr-2
          mt-2
        "
      >
        Multiple Locations
      </span>
      <span
        class="
          text-xs
          font-semibold
          inline-block
          py-1
          px-2
          rounded-full
          text-pink-200
          bg-pink-500
          uppercase
          last:mr-0
          mr-2
          mt-2
        "
      >
        Bookings
      </span>
    </div>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white dark:bg-gray-900">
  <div
    class="
      max-w-2xl
      mx-auto
      py-24
      px-4
      grid
      items-center
      grid-cols-1
      gap-y-16 gap-x-8
      sm:px-6 sm:py-32
      lg:max-w-7xl lg:px-8 lg:grid-cols-2
    "
  >
    <div class="sm:mt-48">
      <h2
        class="
          text-3xl
          font-extrabold
          tracking-tight
          text-gray-900
          dark:text-gray-200
          sm:text-4xl
        "
      >
        Why Choose Us?
      </h2>
      <p class="mt-4 text-lg text-gray-500 dark:text-gray-400">
        GuideLK is full fledged tourism management system which caters to all.
        It is baked in with all the necessary features needed for a company to
        set it up and running.
      </p>

      <dl
        class="
          mt-16
          grid grid-cols-1
          gap-x-6 gap-y-10
          sm:grid-cols-2 sm:gap-y-16
          lg:gap-x-8
        "
      >
        <div class="border-t border-gray-200 dark:border-gray-300 pt-4">
          <span
            class="
              text-xs
              font-semibold
              inline-block
              py-1
              px-2
              rounded-full
              text-blue-200
              bg-blue-500
              uppercase
              last:mr-0
              mr-2
              mt-2
            "
          >
            Convenience
          </span>
          <dd class="mt-2 text-sm text-gray-500 dark:text-gray-400">
            Necessary features are already included.
          </dd>
        </div>

        <div class="border-t border-gray-200 dark:border-gray-300 pt-4">
          <span
            class="
              text-xs
              font-semibold
              inline-block
              py-1
              px-2
              rounded-full
              text-blue-200
              bg-blue-500
              uppercase
              last:mr-0
              mr-2
              mt-2
            "
          >
            Cutting Edge Tools
          </span>
          <dd class="mt-2 text-sm text-gray-500 dark:text-gray-400">
            Utilizied up-to-date technologies throughout the system.
          </dd>
        </div>

        <div class="border-t border-gray-200 dark:border-gray-300 pt-4">
          <span
            class="
              text-xs
              font-semibold
              inline-block
              py-1
              px-2
              rounded-full
              text-blue-200
              bg-blue-500
              uppercase
              last:mr-0
              mr-2
              mt-2
            "
          >
            Security
          </span>
          <dd class="mt-2 text-sm text-gray-500 dark:text-gray-400">
            Tested and perfected in every corner. Built in JWT for excess
            security.
          </dd>
        </div>

        <div class="border-t border-gray-200 dark:border-gray-300 pt-4">
          <span
            class="
              text-xs
              font-semibold
              inline-block
              py-1
              px-2
              rounded-full
              text-blue-200
              bg-blue-500
              uppercase
              last:mr-0
              mr-2
              mt-2
            "
          >
            Easy Deployment
          </span>
          <dd class="mt-2 text-sm text-gray-500 dark:text-gray-400">
            Can be easily deployed to any hosting platform such as Azure,
            DigitalOcean, AWS and etc.
          </dd>
        </div>
      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      <img
        src="https://images.unsplash.com/photo-1507608443039-bfde4fbcd142?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
        alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
        class="bg-gray-100 rounded-lg"
      />
      <img
        src="https://images.unsplash.com/photo-1534534573898-db5148bc8b0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1068&q=80"
        alt="Top down view of walnut card tray with embedded magnets and card groove."
        class="bg-gray-100 rounded-lg"
      />
      <img
        src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1068&q=80"
        alt="Side of walnut card tray with card groove and recessed card area."
        class="bg-gray-100 rounded-lg"
      />
      <img
        src="https://images.unsplash.com/photo-1454430690613-c5fbdb397f65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1068&q=80"
        alt="Walnut card tray filled with cards and card angled in dedicated groove."
        class="bg-gray-100 rounded-lg -mt-7 sm:-mt-12"
      />
    </div>
  </div>
</div>

<app-footer></app-footer>
