<form #addressBookForm="ngForm">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field class="full-wid" appearance="outline">
                <mat-label>Address 1</mat-label>
                <input matInput placeholder="Address 1" name="addressOne" [(ngModel)]="addressBook.addressOne"
                       #AddressOne="ngModel" required>
                <div *ngIf="AddressOne.errors && (AddressOne.dirty || AddressOne.touched)">
                    <small class="gene-block" *ngIf="AddressOne.errors.required && AddressOne.touched"
                           class="mat-text-warn">
                        You must include an address one.
                    </small>
                </div>
            </mat-form-field>
        </div>
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field class="full-wid" appearance="outline">
                <mat-label>Address 2</mat-label>
                <input matInput placeholder="Address 2" name="addressTwo" [(ngModel)]="addressBook.addressTwo"
                       #AddressTwo="ngModel">
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field class="full-wid" appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select placeholder="Country" name="countryId"
                            [(ngModel)]="addressBook.countryId" (selectionChange)="getLocationList()" #countryId="ngModel"
                            required>
                    <mat-option *ngFor="let country of countryList"
                                [value]="country.countryId">
                        {{country.countryName}}
                    </mat-option>
                </mat-select>
                <div *ngIf="countryId.errors && (countryId.dirty || countryId.touched)">
                    <small class="gene-block" *ngIf="countryId.errors.required && countryId.touched"
                           class="mat-text-warn">
                        You must select a country.
                    </small>
                </div>
            </mat-form-field>
        </div>
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field class="full-wid" appearance="outline">
                <mat-label>Location</mat-label>
                <mat-select placeholder="Location" name="locationId"
                            [(ngModel)]="addressBook.locationId" #locationId="ngModel"
                            required>
                    <mat-option *ngFor="let location of locationList"
                                [value]="location.locationId">
                        {{location.locationName}}
                    </mat-option>
                </mat-select>
                <div *ngIf="locationId.errors && (locationId.dirty || locationId.touched)">
                    <small class="gene-block" *ngIf="locationId.errors.required && locationId.touched"
                           class="mat-text-warn">
                        You must select a location.
                    </small>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field class="full-wid" appearance="outline">
                <mat-label>Postal Code</mat-label>
                <input matInput placeholder="Postal Code" name="postalCode" [(ngModel)]="addressBook.postalCode"
                       #PostalCode="ngModel">
            </mat-form-field>
        </div>
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field class="full-wid" appearance="outline">
                <mat-label>Fax</mat-label>
                <input matInput placeholder="Fax" name="fax" [(ngModel)]="addressBook.fax"
                       #Fax="ngModel" (keydown)="isNumber($event)" maxlength="12">
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field class="full-wid" appearance="outline">
                <mat-label>Telephone</mat-label>
                <input matInput placeholder="Telephone" name="telephone" [(ngModel)]="addressBook.telephone"
                       #Telephone="ngModel" (keydown)="isNumber($event)" maxlength="12" required>
                <div *ngIf="Telephone.errors && (Telephone.dirty || Telephone.touched)">
                    <small class="gene-block" *ngIf="Telephone.errors.required && Telephone.touched"
                           class="mat-text-warn">
                        You must include an telephone number.
                    </small>
                </div>
            </mat-form-field>
        </div>
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field class="full-wid" appearance="outline">
                <mat-label>Mobile No</mat-label>
                <input matInput placeholder="Mobile" name="mobile" [(ngModel)]="addressBook.mobile"
                       #Mobile="ngModel" (keydown)="isNumber($event)" maxlength="12">
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field class="full-wid" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="addressBook.email"
                       [pattern]="emailPattern"
                       #Email="ngModel" email>
            </mat-form-field>
        </div>
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field class="full-wid" appearance="outline">
                <mat-label>Website</mat-label>
                <input matInput placeholder="Website" name="website" [(ngModel)]="addressBook.website"
                       #Website="ngModel">
            </mat-form-field>
        </div>
    </div>
</form>